body {
    background-color: #F29C9F;
    color: #7D4A2C;
    max-width: 95%;
    margin: 0 auto;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}
h3 {
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
}
p {
    font-size: 1em;
    margin: 0 0 1em 0;
}
ul {
    padding: 0 1em;
    margin: 0;
}
a {
    color: #005D92;
}
footer {
    padding: 0 1em;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.content {
    padding: 1em;
}
.content img {
    max-width: 100%;
}